body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.recipe-section {
    display: flex;
    flex-direction: row;
}
.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 300px;
    width: 300px;
}
.recipe-card img {
    width: 200px;
    height: 200px;
}